







.panelf {	margin-top: 5%;	}  /*To be used in forms*/

.panelf-50 {	margin-top: 2.5%;	}  /*To be used in forms*/

.panelf-50-25 {	margin-top: 1%;	}  /*To be used in forms*/

.align-t {	text-align: center;height:200px;font-size: 40px;  	}  /*To be used in forms*/

.align-t-50 {	text-align: center;height:100px;font-size: 40px;  	}  /*To be used in forms*/

.align-t-50-25 {	text-align: center;height:75px;font-size: 40px;  	}  /*To be used in forms*/

.font {	font-size: 10px;  	}  /*To be used in forms*/

.align-h {	font-size: 50px;  	}  /*To be used in forms*/

